<meta name="author" content="{{ site.author }}"/>
<meta name="description" content="{{ site.description }}">
<meta name="google-site-verification" content="4l2AXA0JXsUiTV36wo8KspMdYWl70e4TXqKmLKC_PTU" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ site.twitter }}" />
<meta name="twitter:title" content="Adeyemi Olaoye" />
<meta name="twitter:description" content="Personal Website of Adeyemi Olaoye" />
<meta name="twitter:image" content="{{ site.url }}static/img/{{ site.avatar }}"/>
<meta property="og:description" content="Personal Website of Adeyemi Olaoye" />
<meta property="og:title" content="Adeyemi Olaoye" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:image" content="{{ site.url }}static/img/{{ site.avatar }}"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="adeyemiolaoye.me" />
<meta property="og:locale" content="en_GB" />